.register {
    display: flex;
    flex-direction: column;
    /* Ajouté : Pour empiler les enfants verticalement (h2, div.groupe2) */
    align-items: flex-start;
    /* Correctif : Alignement horizontal du contenu (équivalent à gauche) */
    background-color: #1B1B1B;
    
    padding: 20px;
    /* Ajouté : Pour éviter que le contenu ne touche le bord */
}

.Groupe1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Alignement vertical centré pour les éléments enfants */
    gap: 10px;
    /* Espacement entre le rectangle et le texte */

}

.Rectangle-4 {


    width: 3px;
    height: 89px;
    background: #FFFFFF;
    opacity: 1;
}

.CreationCompte {
    width: 300px;
    height: 131px;
    margin-top: 55px;
    margin-top: 51px;
    font: Josefin Sans;
    font-weight: 700;
    font-style: bold;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #F6F6F6;
    border-radius: 16%;
    padding: 16px 8px 16px 8px;
    border: 0 0 1px 0;

}

.groupe2 {
    width: 276px;
    height: 415px;
    margin-top: 223px;
    margin-left: 51px;
    border-radius: 12px;
    border: 5px solid #FFFFFF
}

input {
    background-color: #1B1B1B;
    border: none;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-family: Josefin Sans;
    font-weight: 900;
    font-style: Bolder;
    font-size: 16px;
    line-height: 150%;
    padding: 10px;
    letter-spacing: 0.5cap;
    color: #F6F6F6;
}

input::placeholder {
    color: #F6F6F6;
    opacity: 2.0;
}

.creerCompte {
    display: block;
    width: 176px;
    height: 67px;
    opacity: 1;
    margin-top: 30px;
    font-family: Josefin Sans;
    font-weight: 900;
    font-style: Bold;
    font-size: 20px;
    letter-spacing: 24%;
    color: #1b1b1b;
    background-color: #F6F6F6;
    border-radius: 16%;
    padding: 16px 8px 16px 8px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}


.pseudo,
.email {
    font-size: 22px;
    ;
}

.email {
    letter-spacing: 1cap;
}

/* Rectangle 4 */