.register {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    /* Ajouté : Pour empiler les enfants verticalement (h2, div.groupe2) */
    align-items: flex-start;
    /* Correctif : Alignement horizontal du contenu (équivalent à gauche) */
    background-color: #1B1B1B;
    min-height: 100vh;
    padding: 20px;
    /* Ajouté : Pour éviter que le contenu ne touche le bord */
    box-sizing: border-box;
}

.Groupe1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Alignement vertical centré pour les éléments enfants */
    gap: 10px;
    /* Espacement entre le rectangle et le texte */

    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    /* Permet au contenu de passer à la ligne si nécessaire */

}

.Rectangle-4 {


    width: 3px;
    height: 89px;
    background: #FFFFFF;
    opacity: 1;
}

.CreationCompte {
    width: 100%;
    max-width: 400px;
    font: Josefin Sans;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #F6F6F6;
    border-radius: 16%;
    padding: 16px 8px 16px 0px;
    border: 0 0 1px 0;
    

}

.groupe2 {

    padding: 20px 10px 10px 10px;

}

input {
    background-color: #1B1B1B;
    border: none;
    width: 100%;
    font-family: Josefin Sans;
    font-weight: 900;
    letter-spacing: 1cap;

}

input::placeholder {
    color: #F6F6F6;
    opacity: 2.0;
}

.pseudo,
.email,
.password,
.confirmPassword {
    padding: 0 0 30px 10px;

}

.pseudo,
.email {
    font-size: 28px;
}

.password,
.confirmPassword {
    font-size: 20px;
}

.creerCompte {
    display: flex;
    justify-content: center;
    align-items: center;

}

.creerCompteButtonRegister {
    outline: none;
    padding-top: 30px;
    opacity: 1;
    font-family: Josefin Sans;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 24%;
    color: #6b4c4c;
    border-radius: 16%;
    padding: 16px 8px 16px 8px;
    background-color: #F6F6F6;


}