.ProfileContainer {
    display: flex;
    flex-direction: column;
    width: 393px;
    /* Largeur de la vue mobile */
    min-height: 852px;
    /* Hauteur flexible */
    padding: 20px;
    box-sizing: border-box;

    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #1b1b1b;
}

.GroupeSquare {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.TitleSquare {
    font-weight: 700;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* Espacement entre le rectangle et le texte */
}

.RectangleProfile {
    /* Rectangle décoratif vertical à gauche du titre */
    width: 3px;
    height: 40px;
    background: #FFFFFF;
    opacity: 1;
    margin-bottom: 20px;
    /* Espacement entre le rectangle et le titre */
}

.postContentProfile {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F6F6F6;
    font-size: 16px;
    line-height: 150%;
}

.postCommentsProfile {
    margin-top: 10px;
    font-size: 14px;

}

.buttonProfileSettings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.addPostCommentProfile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;

}

.addPost {

    border: none;
    width: 46px;
    height: 46px;
    color: #F6F6F6;
    font-size: 16px;
    background-color: #1b1b1b;

}

/* comment-alt */

.addComment {
    
    width: 41px;
    height: 41px;
    left: 299px;
    top: 795px;
    color: #F6F6F6;

    background-color: #1b1b1b;

}