.comment-card {
    width: 70vw;
    min-height: 10vh;

    background: linear-gradient(to right, white, grey);
    border-radius: 2em;

    display: flex;
    flex-direction: column;
    padding-left: 1em;
    font-weight: bold;

}

.comment-date {
    font-size: 0.75em;
    color: #7c7c7c;

}